<div class="container">
    <div class="jumbotron">
        <h2>About</h2>
    </div>
</div>
<div class="container">
    <div class="col-md-3">
         <h3><a href="#">Backbone</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id orci urna. Vestibulum velit lectus, feugiat ac sodales sed, viverra ac lorem. Morbi laoreet cursus ligula at pretium. Aliquam eleifend lacus risus, ut aliquam nibh bibendum et. Donec hendrerit semper turpis non mattis. Phasellus et enim pretium, interdum sapien non, placerat justo. Donec magna diam, tincidunt eu ligula ac, tempor tincidunt lorem. Nullam iaculis facilisis erat, vitae ullamcorper nunc hendrerit id. Maecenas luctus lacus diam, a hendrerit quam elementum at.</p>
    </div>
    <div class="col-md-3">
        <h3><a href="#">RequireJS</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id orci urna. Vestibulum velit lectus, feugiat ac sodales sed, viverra ac lorem. Morbi laoreet cursus ligula at pretium. Aliquam eleifend lacus risus, ut aliquam nibh bibendum et. Donec hendrerit semper turpis non mattis. Phasellus et enim pretium, interdum sapien non, placerat justo. Donec magna diam, tincidunt eu ligula ac, tempor tincidunt lorem. Nullam iaculis facilisis erat, vitae ullamcorper nunc hendrerit id. Maecenas luctus lacus diam, a hendrerit quam elementum at.</p>
    </div>
    <div class="col-md-3">
        <h3><a href="#">Docco</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id orci urna. Vestibulum velit lectus, feugiat ac sodales sed, viverra ac lorem. Morbi laoreet cursus ligula at pretium. Aliquam eleifend lacus risus, ut aliquam nibh bibendum et. Donec hendrerit semper turpis non mattis. Phasellus et enim pretium, interdum sapien non, placerat justo. Donec magna diam, tincidunt eu ligula ac, tempor tincidunt lorem. Nullam iaculis facilisis erat, vitae ullamcorper nunc hendrerit id. Maecenas luctus lacus diam, a hendrerit quam elementum at.</p>
    </div>
    <div class="col-md-3">
        <h3><a href="#">Bootstrap</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id orci urna. Vestibulum velit lectus, feugiat ac sodales sed, viverra ac lorem. Morbi laoreet cursus ligula at pretium. Aliquam eleifend lacus risus, ut aliquam nibh bibendum et. Donec hendrerit semper turpis non mattis. Phasellus et enim pretium, interdum sapien non, placerat justo. Donec magna diam, tincidunt eu ligula ac, tempor tincidunt lorem. Nullam iaculis facilisis erat, vitae ullamcorper nunc hendrerit id. Maecenas luctus lacus diam, a hendrerit quam elementum at.</p>
    </div>
</div>
