<div class="container">
    <div class="jumbotron" id="appJumb">
        <center>
        <h1>What to do?</h1>
        <p>I bet you haven't seen one of these before</p>
        </center>
              <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn" id="span">
                        <button id="saveButton" class="btn btn-default" type="button">Save</button>
                    </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
         <div id="todoList"></div>
    </div>
</div>